<!DOCTYPE html>
<html>
  <style>

  *, *:before, *:after {
    box-sizing: border-box;
  }

body {
  background-color: #dadada;
  font-family: system-ui, sans-serif;
  font-size: 75%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
  font-family: serif;
  font-weight: 400;
  padding-left: 20px
}

div {
  padding-right: 2.5px;

}

@media screen and (max-width: 400px) {
  .preview {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .preview {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    width: 48%;
    }

  }

  .preview {
    float: left;
    width: 375px;
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }



  </style>
</html>
